@import './Variables.scss';

* {
  box-sizing: border-box;
}

html {
  font-family: $body-font;
  height: 100%;
  width: 102%;
  overflow-x: hidden;
}


body {
  background-color: white;
  color: $light-grey;
  font-size: 24px;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
    background-color: $webclay-dark-grey;
  }

  &::-webkit-scrollbar-thumb {
    background-color: lighten($webclay-dark-grey, 8%);
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $title-font;
  font-weight: 600;
  color: $webclay-dark-grey;
  margin: 0;
  line-height: 1.25em;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

strong {
  font-weight: 700;
  color: white;
}

a,
button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  transition: all 200ms ease-in-out;
}

button,
.button {
  border: none;
  border-radius: 25px;
  background-color: $webclay-primary;
  font-family: $title-font;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2px;
  color: white;
  height: 50px;
  padding: 0 25px;
  user-select: none;
  text-decoration: none;

  &.primary {
    background-color: $webclay-primary;
    color: $webclay-dark-grey;
  }

  &.secondary {
    background-color: $webclay-secondary;
    color: white;
  }

  &.dark {
    background-color: $webclay-dark-grey;
    color: white;
  }

  &.light {
    background-color: white;
    color: $webclay-secondary;
  }

  &:hover,
  &:active {
    box-shadow: 0 4px 16px $transparent-blue-grey;
  }
}

a {
  color: $light-grey;
  text-decoration: none;
  font-family: $body-font;
}

input {
  font-family: $title-font;
  font-weight: 700;
  font-size: 14px;
  border: none;
  outline: none;
  color: $dark-grey;
  padding: 0 20px;
  height: 50px;
  background-color: white;
  border: none;
  transition: all 200ms ease-in-out;

  &::placeholder {
    color: $light-grey;
  }
}

section {
  padding: 160px 30px 70px 160px;
  opacity: 0; // Prevents flash during initial page load.
}

@include tablet {

  section {
    padding: 100px 30px 90px 50px;
  }

  h1 {
    font-size: 42px;
  }

  input {
    font-size: 16px;
  }
}

@include phone {

  body {
    font-size: 18px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }
}
