@import './Variables.scss';

footer {
  background-color: white;
  color: $webclay-dark-grey;
  margin: 0 auto;
  padding: 45px 0;
  width: 100%;
  //max-width: $content-max-width;
  font-size: 15px;

  .footer-content {
    display: flex;
    justify-content: space-between;
  }

  .footer-links {
    display: flex;
    align-items: center;

    > *:not(:first-child) {
      margin-left: 20px;
    }

    span {
      text-transform: uppercase;
      font-weight: 700;
      font-family: $title-font;
      letter-spacing: 4px;
    }

    a {
      outline: none;
      text-decoration: none;
      padding: 5px;
      margin: -5px;
    }

    a svg {
      fill: $grey;
      transition: all 200ms ease-in-out;
    }

    a:hover svg,
    a:active svg,
    a:focus svg {
      //fill: $webclay-green;
    }
  }

  @include tablet {
    .footer-content {
      padding: 0 20px;
      flex-direction: column-reverse;
      align-items: center;
    }

    .footer-links {
      margin-bottom: 30px;

      > *:not(:first-child) {
        margin-left: 10px;
      }
    }
  }

  @include phone {
    padding: 25px 0 35px 0;

    .footer-copyright {
      font-size: 14px;
      text-align: center;
    }

    .footer-links {
      margin-bottom: 20px;
    }
  }
}
