@import './Variables.scss';

header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;

  .header-background {
    /* Shown when menu is open to match opacity animation of mobile nav. */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $webclay-dark-grey;
    opacity: 0;
    z-index: -1;
    transition: opacity 150ms ease-in-out;
  }

  .header-content {
    width: 100%;
    //max-width: $content-max-width;
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
  }

  .header-logo {
    height: 50px;
    padding-left: 20px;
  }

  .header-title {
    padding-left: 20px;
    color: $webclay-dark-grey;
  }

  .menu-button {
    display: none;
  }
}

.desktop-nav,
.mobile-nav {
  display: flex;

  a {
    color: $webclay-dark-grey;
    font-weight: 700;
    font-size: 14px;
    font-family: $title-font;
    letter-spacing: 4px;
    text-transform: uppercase;

  }
}

.desktop-nav {
  align-items: center;

  a {
    font-size: 14px;
    padding: 10px 5px;
    margin: -5px;

    &:not(:first-child) {
      margin-left: 25px;
    }
  }
}

.mobile-nav {
  display: none;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  width: 100%;
  top: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  top: $header-height-mobile;
  padding-bottom: $header-height-mobile;
  background-color: $webclay-dark-grey;
  transition: opacity 150ms ease-in-out;

  a {
    color: white;
    font-size: 18px;
    padding: 30px 20px;

    &:not(:first-child) {
      margin-top: 20px;
    }
  }
}

@include phone {
  header {
    .header-content {
      height: $header-height-mobile;
      padding: 0 17px 0 20px;
    }

    > svg {
      width: 100px;
    }

    .menu-button {
      display: flex;
    }
  }

  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: flex;
  }

  .menu-open {
    overflow: hidden;
    width: 100%;

    body {
      overflow-y: hidden;
    }

    .header-background {
      opacity: 1;
    }

    .mobile-nav {
      opacity: 1;
      pointer-events: all;
    }
  }
}
