@import "./Variables.scss";

#___gatsby {
  min-height: 100%;
  overflow: hidden;
}

#___gatsby,
#gatsby-focus-wrapper,
.layout,
main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  &.home {
    .header-title,
    a {
      color: white;
    }
    .menu-button span {
      background-color: white;
    }
  }
}

section {
  margin: 0 auto;
  width: 100%;
  //max-width: $content-max-width;
  display: flex;
  flex-direction: column;
}
