@import './Variables.scss';

.menu-button {
  margin: -12px -2px -10px -2px;
  width: 46px;
  height: 36px;
  padding: 5px;
  background-color: transparent !important;
  touch-action: manipulation;

  .menu-icon {
    position: relative;
    width: 40px;
    height: 24px;
  }

  span {
    position: absolute;
    width: 100%;
    left: 0;
    height: 2px;
    background-color: $webclay-dark-grey;
    transition: all 0.2s ease-in-out;

    &:nth-child(1) {
      top: calc(1px);
    }

    &:nth-child(2) {
      top: calc(11px);
    }

    &:nth-child(3) {
      top: calc(21px);
    }
  }

  &.open span:nth-child(1) {
    transform: translateY(10px) rotate(135deg);
  }

  &.open span:nth-child(2) {
    transform: scaleX(0);
  }

  &.open span:nth-child(3) {
    transform: translateY(-10px) rotate(-135deg);
  }
}
