$body-font: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
$title-font: Poppins, sans-serif;

$webclay-dark-grey: #0e141a;
$webclay-primary: #FBD001;
$webclay-secondary: #3B12DD;
$light-grey: #b5c7d8;
$grey: #8da3b6;
$dark-grey: #576573;
$transparent-grey: transparentize($grey, 0.9);
$transparent-blue-grey: transparentize(#0e141a, 0.9);

//$content-max-width: 1240px;
$tablet-width: 1300px;
$phone-width: 600px;

$header-height: 100px;
$header-height-mobile: 82px;

@mixin tablet {
  @media screen and (max-width: $tablet-width) {
    @content;
  }
}

@mixin phone {
  @media screen and (max-width: $phone-width) {
    @content;
  }
}
