@import '../frame/Variables.scss';

.app-store-buttons {
  display: flex;

  button {
    border: 2px solid transparentize(white, 0.2);
    background-color: transparentize($webclay-dark-grey, 0.5);
    height: 65px;
    width: 220px;

    &:not(:first-child) {
      margin-left: 40px;
    }
  }

  svg {
    transform: scale(1.1);
  }

  .app-store {
    svg {
      width: 130px;
      margin: -1px 0 1px 0;
    }
  }

  @include phone {
    flex-direction: column;
    width: 100%;

    svg {
      transform: none;
    }

    button {
      width: 100%;

      &:not(:first-child) {
        margin: 20px 0 0 0;
      }
    }
  }
}
