@import '../frame/Variables.scss';

.banner-block {
  opacity: 1;
  color: $webclay-dark-grey;

  display: flex;
  align-items: center;

  .banner-text {
    font-size: 25px;
    font-weight: 400;
    max-width: 650px;
  }

  .banner-header-text {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 50px;
    max-width: 650px;
  }

  &.primary {
    background-color: $webclay-primary;
    color: $webclay-dark-grey;
  }
  &.secondary {
    background-color: $webclay-secondary;
    color: white;
  }

  .link-button {
    margin-top: 60px;
  }

  @include phone {
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;

    &.left,
    &.right {
      flex-direction: column;

      .block-text {
        width: 100%;
      }

      .body-text {
        margin-top: 20px;
      }
    }
  }
}
