@import '../frame/Variables.scss';

.captioned-image-block {
  margin-top: 70px;
  padding: 0 40px;
  align-items: center;

  h1 {
    margin-top: -15px;
  }

  .block-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    width: 55%;
  }

  .body-text {
    margin: 20px 0 30px 0;
    max-width: 100%; // Fix for IE flexbox bug.
  }

  .images {
    display: flex;
    flex-grow: 1;
    width: 45%;

    .image-container {
      display: flex;
      flex-grow: 1;
    }

    .image-item {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      max-width: 200px;

      .caption-title {
        font-weight: 700;
        font-size: 14px;
        margin: 10px 0 5px 0;
      }

      .caption-body {
        font-size: 14px;

        p {
          margin: 0;
        }
      }
    }

    .gatsby-image-wrapper {
      width: 100%;
      border-radius: 50%;
    }
  }

  &.multi-image .images {
    margin: -20px;

    .image-item {
      padding: 20px;
    }
  }

  &.left,
  &.right {
    margin-top: 50px;

    .block-text {
      text-align: left;
      width: 50%;
      justify-content: center;
      align-items: flex-start;
    }

    &.image-wrap .images {
      flex-wrap: wrap;

      .caption-body {
        font-size: 11px;
      }
    }

    &.image-count-4 .image-container {
      width: 50%;
    }

    &.image-count-5 .image-container,
    &.image-count-6 .image-container {
      width: 33%;
    }
  }

  &.left {
    flex-direction: row;

    .block-text {
      margin-right: 80px;
    }
  }

  &.right {
    flex-direction: row-reverse;

    .block-text {
      margin-left: 80px;
    }
  }

  @include tablet {
    &.left .block-text {
      margin-right: 40px;
    }

    &.right .block-text {
      margin-left: 40px;
    }
  }

  @include phone {
    flex-direction: column !important;
    margin-top: 50px !important;
    padding: 0 20px;

    .block-text {
      width: 100% !important;
      text-align: center !important;
    }

    &.left .block-text {
      margin-right: 0;
    }

    &.right .block-text {
      margin-left: 0;
    }

    .images {
      width: 100% !important;
      flex-direction: column;
      align-items: center;
    }

    &.multi-image .images {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin: -15px;

      .image-container {
        width: 50% !important;
        max-width: 50% !important;
      }

      .image-item {
        padding: 15px;
      }
    }
  }
}
