@import '../frame/Variables.scss';

.contact-us-block {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  flex-grow: 1;

  section {
    padding: 45px 0;
    align-items: flex-start;
    border-top: 1px solid $transparent-grey;
    border-bottom: 1px solid $transparent-grey;
    flex-grow: 1;
  }

  h4 {
    font-size: 16px;
    margin: 0 0 5px 0;

    &:not(:first-child) {
      margin-top: 30px;
    }
  }

  @include tablet {
    padding: 0 40px;
  }

  @include phone {
    padding: 0 20px;
    border-top: 1px solid $transparent-grey;
    border-bottom: 1px solid $transparent-grey;

    section {
      padding: 25px 0;
      border: none;
    }
  }
}
