@import '../frame/Variables.scss';

.cta-block {
  background-color: transparentize($grey, 0.9);
  margin-top: 90px;

  section {
    padding: 70px 0 90px 0;
    align-items: center;
    text-align: center;
  }

  .body-text {
    margin-top: 20px;
  }

  .coming-soon-message {
    margin: 30px 0 -15px 0;
  }

  .app-store-buttons {
    margin-top: 40px;
  }

  @include phone {
    margin-top: 50px;

    section {
      padding: 40px 20px 50px 20px;
    }

    .app-store-buttons {
      margin-top: 30px;
    }

    .coming-soon-message {
      margin: 25px 0 -10px 0;
    }
  }
}
