@import '../frame/Variables.scss';

.email-registration {

  //section {
  //  align-items: center;
  //  padding: 60px 40px;
  //}

  margin-top: 40px;

  form {
    //display: flex;
    //margin: 20px 10px 25px 10px;
    max-width: 100%;

    .input-container {
      display: flex;
      flex-wrap: wrap;
      > * {
        margin-top: 20px;
      }
    }

    input {
      width: 220px;
      max-width: 100%;
      height: 50px;
      //padding-right: 220px;
      background-color: white;
      color: $light-grey;

      &::placeholder {
        color: $light-grey;
      }
    }

    button {
      margin-left: 50px;
      @include phone {
        margin-left: 10px;
      }
    }
    &.light {
      color: $webclay-secondary;
    }
  }

  //@include phone {
  //  section {
  //    padding: 40px 20px;
  //    text-align: center;
  //    align-items: stretch;
  //  }
  //
  //  h3 {
  //    margin-bottom: 5px;
  //  }
  //
  //  form {
  //    flex-direction: column;
  //
  //    input {
  //      width: 100%;
  //      margin-bottom: 60px;
  //      padding-right: 20px;
  //    }
  //
  //    button {
  //      height: 50px;
  //      border-radius: 25px;
  //      top: unset;
  //      bottom: 0;
  //      left: 0;
  //      right: 0;
  //      width: 100%;
  //    }
  //  }
  //}
}
