@import '../frame/Variables.scss';

.faq-block {
  padding: 140px 120px 140px 30%;
  color: $webclay-dark-grey;
  background-color: white;

  h1 {
    color: $webclay-secondary;
    margin-bottom: 60px;
  }
  @include phone {
    padding: 140px 30px;
  }

  .faq-item {
    > * {
      margin: 30px;
    }
  }
}
