@import '../frame/Variables.scss';

.generic-block {
  color: $webclay-dark-grey;
  padding-left: 180px;
  padding-right: 180px;
  background-color: white;

  .markdown {
    display: flex;
    justify-content: center;
  }

  @include phone {
    padding-left: 30px;
    padding-right: 30px;
  }
}
