@import '../frame/Variables.scss';

.icon-block {
  padding: 100px 40px;
  background-color: $transparent-grey;

  section {
    flex-direction: row;
    justify-content: space-around;
  }

  .block-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
  }

  h2 {
    margin-top: -10px;
  }

  .body-text {
    margin-top: 25px;
  }

  .icon-container {
    width: 30%;

    svg {
      width: 100%;
      height: 100%;

      .background {
        fill: $transparent-grey;
      }

      .foreground {
        fill: yellow;
      }
    }
  }

  &.left,
  &.right {
    padding-top: 80px;
    padding-bottom: 0;
    background-color: transparent;

    .block-text {
      width: 50%;
    }
  }

  &.right {
    section {
      flex-direction: row-reverse;
    }
  }

  @include tablet {
    .block-text {
      width: 100%;
    }

    &.left .block-text,
    &.right .block-text {
      width: 50%;
    }

    &.left .icon-container {
      width: 50%;
      padding-left: 50px;
    }

    &.right .icon-container {
      width: 50%;
      padding-right: 50px;
    }
  }

  @include phone {
    padding: 60px 20px;
    text-align: center;

    &.left,
    &.right {
      padding-top: 60px;
    }

    &.left,
    &.right {
      section {
        flex-direction: column;
      }

      .block-text {
        width: 100%;
      }

      .icon-container {
        width: 100%;
        padding: 30px 40px 0 40px;
      }

      .body-text {
        margin-top: 20px;
      }
    }
  }
}
