@import "../frame/Variables.scss";

.image-text-block {
  opacity: 1;
  padding: 140px 120px;
  @include phone {
    padding: 140px 30px;
  }
  color: $webclay-dark-grey;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .image-text-block-header {
    margin-bottom: 50px;
  }

  .image-text-block-item {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-basis: 100px;
    margin-bottom: 80px;

    .image-text-block-image-container {
      margin-bottom: 20px;
    }
    .image-text-block-container {
      width: 50%;
      @include phone {
        width: 100%;
      }
      .image-text-block-header {
        margin-bottom: 25px;
      }
    }

    @include phone {
      flex-direction: column;
    }
  }
}
