@import '../frame/Variables.scss';

.main-header-block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  min-height: 100vh;

  .background-image {
    margin-top: -#{$header-height};
    z-index: -1;
    width: 100%;
    height: calc(100% + #{$header-height});
    overflow: hidden;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .gatsby-image-wrapper {
      flex-grow: 1;
    }
  }

  h1 {
    max-width: 800px;
    color: white;
  }

  .body-text {
    font-size: 32px;
    font-weight: 500;
    max-width: 800px;
    margin-top: 40px;
    color: white;
  }

  &.long-text .body-text {
    max-width: 800px;
  }

  @include tablet {

    h1 {
      max-width: 600px;
    }

    .body-text {
      font-size: 26px;
      max-width: 600px;
    }

  }

  @include phone {
    // Additional 70px because 100vh doesn't take the toolbar at the bottom of the browser into account.
    min-height: calc(100vh - #{$header-height-mobile} - 70px);
    padding-bottom: 70px;

    .background-image {
      margin-top: -#{$header-height-mobile};
      height: calc(100% + #{$header-height-mobile});
    }

    .body-text {
      font-size: 19px;
      margin: 30px 0 40px 0;
    }

    .coming-soon-message {
      font-size: 19px;
      margin: -20px 0 20px 0;
    }

    .app-store-buttons {
      margin: 0 0 20px 0;
    }
  }
}
