@import '../frame/Variables.scss';

.pricing-block {

  opacity: 1;

  &.primary {
    background-color: $webclay-primary;
    color: $webclay-dark-grey;
  }
  &.secondary {
    background-color: $webclay-secondary;
    color: white;
  }

  padding: 140px 120px;
  @include phone {
    padding: 140px 30px;
  }
  
  color: $webclay-dark-grey;
  // background-color: white;

  .pricing-block-header {
    margin-left: 20%;
    margin-bottom: 40px;
  }

  .pricing-items-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .price-item {

      > * {
        padding-bottom: 15px;
      }

      padding: 35px;
      display: flex;
      flex-direction: column;
      align-items: center;

      flex-basis: 50%;
      //flex: 1 0 50%;

      margin: 100px 20%;

      @include tablet {
        padding: 0;
        flex-basis: 100%;
        //margin: 100px 20%;
      }

      @include phone {
        margin: 70px 0;
      }

      &:first-child {
        flex-basis: 100%;
        //margin: auto 20%;
        //flex: 0 1 100%;
      }

      .link-button {
        width: fit-content;
        padding: 0 25px;
      }
    }
    .price-per-month {
      @include phone {
        font-size: 25px;
      }
    }
  }


}
